<h4>
  Resumo
</h4>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Estudantes</th>
      <th>Cursos</th>
      <th>Mátriculas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @count_students %></td>
      <td><%= @count_courses %></td>
      <td><%= @count_classrooms %></td>
    </tr>
  </tbody>
</table>
